/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: sans-serif;
}

/*//////////////////////////////////////////////////////////////////
  [ Scroll bar ]*/
.js-pscroll {
    position: relative;
    overflow: hidden;
}

.table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
}

.table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}

/*//////////////////////////////////////////////////////////////////
  [ ios-switch ]*/
.custom-control.ios-switch {
    --color: #4cd964;
    padding-left: 0;
}

.custom-control.ios-switch .ios-switch-control-input {
    display: none;
}

.custom-control.ios-switch .ios-switch-control-input:active~.ios-switch-control-indicator::after {
    width: 20px;
}

.custom-control.ios-switch .ios-switch-control-input:checked~.ios-switch-control-indicator {
    border: 10px solid var(--color);
}

.custom-control.ios-switch .ios-switch-control-input:checked~.ios-switch-control-indicator::after {
    top: -8px;
    left: 4px;
}

.custom-control.ios-switch .ios-switch-control-input:checked:active~.ios-switch-control-indicator::after {
    left: 0px;
}

.custom-control.ios-switch .ios-switch-control-input:disabled~.ios-switch-control-indicator {
    opacity: .4;
}

.custom-control.ios-switch .ios-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 2px solid #ddd;
}

.custom-control.ios-switch .ios-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: 0px;
    left: 0px;
    background: #fff;
    -webkit-box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
    box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
}

/*//////////////////////////////////////////////////////////////////
  [ Table ]*/

.container-table100 {
    width: 100%;
    min-height: 80vh;
    background: 00;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.wrap-table100 {
    width: 1450px;
}

/*//////////////////////////////////////////////////////////////////
  [ Table ]*/
.table100 {
    background-color: #fff;
}

table {
    width: 100%;
}

.column1 {
	text-align:center;
    width: 17%;
}

.column2 {
	text-align:center;
    width: 12%;
}

.column3 {
	text-align:center;
    width: 18%;
}

.column4 {
	text-align:center;
    width: 13%;
}

.column5 {
	text-align:center;
    width: 15%;
}

.column6 {
	text-align:center;
    width: 15%;
}

.column7 {
	text-align:center;
    width: 10%;
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}

/*==================================================================
  [ Fix header ]*/
.table100 {
    position: relative;
    padding-top: 60px;
    height: 490px;
}

.table100-head {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
	position: relative;
    max-height: 450px;
    overflow:scroll;
}


/*==================================================================
  [ Ver1 ]*/

.table100.ver1 th {
    font-family: Lato-Bold;
    font-size: 19px;
    color: #fff;
    line-height: 1.4;

    background-color: #6c7ae0;
}

.table100.ver1 td {
    font-family: Lato-Regular;
    font-size: 17px;
    color: #808080;
    line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
    background-color: #f8f6ff;
}

/*---------------------------------------------*/

.table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
    right: 5px;
}

.table100.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}




